@charset "UTF-8";

@media screen and (min-width: 0px) and (max-width: 425px) {

    * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        height: auto;
        align-items: start;
    }


    header > button#bt_menu {
        background-color: white;
        color: blue;
        border-radius: 20px;
        border: none;
        padding: 8px;
        display: block;
    }

    header > nav#area_menu {
        display: none;
    }

    main {
        width: 100vw;
        height: auto;
    }


    section#area1, #area2 {
        display: grid;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        grid-template-columns: 300px;
        column-gap: 10px;
        gap: 20px;
        width: 100vw;
        height: auto;
        /*height: 1650px;*/
        margin: 0px 50px 0px 0px; 
        
    }

    article {
        margin: 10px 0px 0px 25%;
    }

    footer > nav.area_footer {
        display: grid;
    }

    footer  > nav.area_footer > button#butao_sn:hover {
        cursor: pointer;
    }
    
}

@media screen and (min-width: 375px) and (max-width: 400px) {

    * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    header > nav#area_menu {
        display: none;
    }

    main {
        width: 100vw;
    }


    section#area1, #area2 {
        display: grid;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        grid-template-columns: 300px;
        column-gap: 10px;
        gap: 20px;
        width: 100vw;
        height: 1650px;
        margin: 0px 50px 0px 0px;
        
        
    }

    article {
        margin: 10px 0px 0px 35%;
    }

    article:hover {
        background-color: #f5f5f7;
    }

    footer > nav.area_footer {
        display: grid;
    }

    
}

@media screen and (min-width: 401px) and (max-width: 439px) {

    * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    header {
        width: 100vw;
    }

    header > nav#area_menu {
        display: none;
    }

    main {
        width: 100vw;
    }


    section#area1, #area2 {
        display: grid;
        grid-template-rows: 250px 250px 250px 250px 250px 250px;
        grid-template-columns: 300px;
        column-gap: 10px;
        gap: 20px;
        width: 100vw;
        height: 1650px;
        margin: 0px 50px 0px 0px;
        
    }

    article {
        margin: 10px 0px 0px 35%;
    }

    article:hover {
        background-color: #f5f5f7;
    }

    footer > nav.area_footer {
        display: grid;
    }

    
}
