@charset "UTF-8";
@media screen and (min-width: 801px) and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    header > nav#area_menu {
        display: flex;
        justify-content: flex-start;
    }

    header > nav#area_menu > menu {
        width: 50vw;
    }

    main {
        height: auto;
    }

    section#area1, #area2 {
        display: block;
        column-gap: 10px;
        width: 100vw;
        height: 300px;
        margin: 0px 0px 0px 0px;
        padding: 20px 0px 0px 0px;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        align-content: center;
    }

    article {
        margin: 20px 20px 80px 50px;

    }
}